p{
  color: #FF0000;
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif, monospace;
  padding-left: 5px;
}

img{
  max-width: 70px;
  max-height: 70px;
  border-radius: 50px;
}

.text{
  background-color: #000;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 15px;
  padding: 0;
}

body{
  background: #000 url('http://4.bp.blogspot.com/-dzYFw4h744k/UuUwCeGhdMI/AAAAAAAAASA/OaNObTMvPGI/s1600/baseBg.png') no-repeat fixed center;
}
